# This is confidential
GITHUB_OAUTH_ID=
GITHUB_OAUTH_SECRET=
SUPABASE_URL=
SUPABASE_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
FEED_PAGE_SIZE=15

DATABASE_CONNECTION_URL=#The Postgres connection URL to your database