@import "tailwindcss";

:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(249, 249, 249);
  --tertiary: rgb(238, 236, 231);

  --font-primary: rgb(9, 9, 11);
  --font-secondary: rgb(142, 134, 129);
  --font-tertiary: rgb(193, 185, 176);

  --delete: rgb(220, 72, 72);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-font-primary: var(--font-primary);
  --color-font-secondary: var(--font-secondary);
  --color-font-tertiary: var(--font-tertiary);

  --color-delete: var(--delete);
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary);
}

::-webkit-scrollbar-thumb {
  background: var(--font-primary);
  border-radius: 4px;
}

h1,
h2,
p,
button,
a {
  margin-block: none;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  font-family: var(--font-lexend), sans-serif;
}

h2,
h3,
p {
  font-family: var(--font-open-sans), sans-serif;
}

/* form {
  @apply relative overflow-clip bg-tertiary border border-font-tertiary rounded-2xl flex flex-col items-center justify-center w-1/2 p-4 gap-2;
} */

input {
  @apply bg-primary w-full rounded-2xl px-2 py-1 border-0 border-font-primary text-center text-font-primary placeholder:text-font-secondary;
}

textarea {
  @apply bg-primary w-full min-h-20 max-h-100 rounded-2xl px-2 py-1 border-0 border-font-primary text-start text-font-primary placeholder:text-font-secondary;
}

button {
  cursor: grab;
}
